## Factor Affecting The Weekly Walmart Sales
### Introduction
In this project we aim to predict Walmart's Weekly sales using the variables provided in the data set. Sales are an important component contributing to the success of an organization. High weekly sales improves the firmâ€™s public image and demonstrates high levels of customer loyalty, and Walmart being one of North Americas biggest retailers, it will be interesting to see how loyal it's customers are and how certain variables are able to effect even big corporations like Walmart.

The dataset was retrieved from Kaggle, provided by M. Yasser H. The dataset covers the sales from 2010 to 2012

### Variables Used
Output variable: Weekly_Sales

Input variables: Temperature + Fuel_Price + CPI + Unemployment

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math 
import os
import csv

In [40]:
data = pd.read_csv("Walmart.csv")
data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106